<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/myStyle.css">
    <title>Index page</title>
</head>
<body>
    <h2> Hello {{loginName}}</h2>
    {{!-- <form action="/login" method="post">
        UserName <input type="text" name="txtName">
       <br>
       Password <input type="password" name="txtPassword">
       <br>
       <input type="submit" value="Login">
    </form> --}}
    <a href="/insert"> New product</a>
    <a href="/view">All products</a>
    <a href="/logout">Log out</a>
    {{!-- <a href="/register"> Register</a> --}}
</body>

</html>